@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-light-background text-light-text transition-colors duration-300;
}

.dark body {
  @apply bg-dark-background text-dark-text;
}

/* Scrollbar General (Horizontal y Vertical) */
::-webkit-scrollbar {
  width: 3px;
  height: 3px; /* Añadir esto para el scroll horizontal */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.1); /* Fondo más suave y transparente */
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(230, 230, 230, 0.7); /* Color más suave y semitransparente */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(204, 204, 204, 0.9); /* Un poco más oscuro al hacer hover */
}

/* Ocultar el scrollbar por defecto */
.container-with-scroll {
  overflow: hidden;
}

/* Mostrar el scrollbar solo cuando el contenedor está en hover */
.container-with-scroll:hover {
  overflow-y: auto; /* Scroll vertical visible en hover */
  overflow-x: auto; /* Scroll horizontal visible en hover */
}